* {
  font-family: arial;
  background-color: #1e1e1e;
  color: whitesmoke;
}

#tableDiv {
  margin: auto;
  width: 50%;
}

#files tr,
th,
td {
  width: 100%;
}

#td {
  font-weight: normal;
}

#filename:hover {
  background-color: #356735;
}

#title {
  text-align: center;
}
