* {
    box-sizing: border-box;
    text-align: center;
}

.row{
    display: flex;
}

[class*="col-"] {
    float: left;
    /*border: 1px solid red;*/
    display: table;
    content: "";
    clear: both;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.icon {
    align-items: center;
    overflow: hidden;
    margin: auto;
    max-height: 100px;
    margin-right: 5px;
    margin-left: 5px;
    width: 30%;
}

.gauge{
    height: 150px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*  trick for having the gauge label in bold */
text:nth-child(6) tspan {
  font-weight: bold;
}